body {
    font-family: "Barlow Semi Condensed", sans-serif;
    font-weight: 400;
    font-style: normal;
}

:root {
    --Purple: hsl(263, 55%, 52%);
    --White: hsl(0, 0%, 100%);
    --GreyText: hsl(0, 0%, 81%);
    --Grey: hsl(217, 19%, 35%);
    --darkBleu: hsl(219, 29%, 14%);
}


.container {
    column-gap: 1.2em;
    row-gap: 4em;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

/* box style  */


.box {
    border-radius: 10px;
    padding: 0.5rem 2rem;
    width: calc(2rem, 5vw, 12rem);
    color: var(--White);
    box-shadow: 0 0 12px var(--darkBleu);
}

.box .profile {
    width: fit-content;
    display: flex;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
    color: var(--White);
}


.profile .flex .name {
    font-weight: bold;
}

.profile:last-child {
    color: var(--GreyText);
    font-weight: lighter;
}

.box img {
    border-radius: 50%;
    border: 2px solid #ffffff50;
    width: 3em;
    height: 3em;
}

.box h1 {
    font-weight: 400;
}

.box p {
    color: var(--GreyText);
}


/* background of the boxes */

.Daniel {
    background-color: var(--Purple);
    grid-column: span 2;
}

.Jonathan {
    background-color: var(--Grey);
}

.Jeanette {
    background-color: var(--White);
}

/* Jeanette style text on black */

.Jeanette h1 {
    font-weight: 400;
    color: var(--darkBleu);
}

.Jeanette p {
    color: var(--darkBleu);
}

.Jeanette .profile:last-child {
    color: var(--darkBleu);
    font-weight: lighter;
}